@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn{
    text-transform: none;
  }
  .input:focus {
    outline: none;
    border-color: hsl(var(--p));
  }
  .input-group :where(span) {
    background-color: transparent;
  }
}

hr.gradient {
  background: hsl(var(--s));
  background: linear-gradient(90deg, hsl(var(--s)) 0%, hsl(var(--p)) 100%);
  border: none;
  height: 6px;
}
